* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #74b9ff, #a29bfe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2d3436;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  border: 2px solid #74b9ff;
  border-radius: 8px;
  outline: none;
}

#add-btn {
  background: #0984e3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#add-btn:hover {
  background: #74b9ff;
}

ul {
  list-style: none;
}

li {
  background: #dfe6e9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

li.completed {
  text-decoration: line-through;
  background: #b2bec3;
  color: #636e72;
}

.delete-btn {
  background: #d63031;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #ff7675;
}
